<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="content-type" content="text/html" charset="utf-8" />
	<title>Wellcome!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<link rel="stylesheet" href="../static/css/cadastro.css" />
	<script src="../static/js/login.js"></script>

</head>

<body>
	<div id="content-container">
		<form action="/cadastro" method="post">
			<div id="title">
				<h1>Cadastro</h1>
			</div>
		
			<div id="usuario">
				<input type="text" placeholder="Usuário" name="uname" required>
			</div>
		
			<div id="email">
				<input type="text" placeholder="E-mail" name="uemail" required>
			</div>
		
			<div id="senha">
				<input type="text" placeholder="Senha" name="psw" required>
			</div>
		
			<div id="confirma_senha">
				<input type="text" placeholder="Confirmar senha" name="confpsw" required>
			</div>
		
			<div id="entrar">
				<button type="submit">Cadastrar</button>
			</div>

			<div id="cadastrar">
				<a href="http://127.0.0.1:5000/">Voltar para login</a>
		</form>
	</div>
	
</body>

</html>