<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <title>Wellcome!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" href="../static/css/home.css" />
</head>

<body>

    <div id="user">
        <h3>Arthur Uguen</h3>
    </div>

    <div id="title">
        <h1>AGENDA MPS</h1>
    </div>

    <div id="content-container">

        <button id="calendarioButton" class="buttons">Calendário</button>
        
        <button  id="userDataButton" class="buttons">Editar Dados</button>
        
        <button id="eventButton" class="buttons">Cadastrar Evento</button>

        <form action="/logout" method="post">
            <div id="logoutDiv">
                <input  type="submit" id="logout_account" name="logout_account" value="Logout">
            </div>
        </form>
        <form action="/delete" method="post">
            <div id="deleteDiv">
                <input  type="submit" id="delete_account" name="delete_account" value="Delete Usuário">
            </div>
        </form>
    </div>


    <script src="{{url_for('static', filename='js/home.js')}}"></script>
</body>

</html>